.genresDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(18% - 50px);
    height: 4%;
    margin: 25px;
    background-color: #072E33;
    padding: 10px;
    border-radius: 25px;
    box-shadow:10px 10px 10px #072E33 ;
    opacity: 1;
}
.genresDiv:hover{
    opacity: 0.8;
}
.genreDiv{
    font-size: 30px;
    color: whitesmoke;
}